[Desktop Entry]
Exec=childsplay
Name=ChildsPlay
Comment=Educational Games
Comment[pl]=Gry edukacyjne
Icon=childsplay
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
