[Desktop Entry]
Encoding=UTF-8
Exec=childsplay
Name=ChildsPlay
Name[pl]=ChildsPlay
Comment=Educational Games
Comment[pl]=Gry edukacyjne
Icon=childsplay.png
Terminal=false
Type=Application
Categories=Game;BoardGame;
# vi: encoding=utf-8
